body{
    margin: 0;
    padding: 0;
    background-color: #000000;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ghost{
    width: 140px;
    height: 160px;
    background-color: white;
    border-radius: 70px 70px 0 0;
    cursor: pointer;
    position: relative;
    animation: floating 1s ease-in-out infinite;
}
@keyframes floating{ 
    50%{
            transform: translateY(80px);
        }
    }
.face{
    width: 100px;
    position: absolute;
    top: 60px;
    left: calc(50% - 50px); 
}
.eye{
    
    height: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 14px;
}
.eye span{
    width: 24px;
    height: 24px;
    background-color: #ff0000;
    border-radius: 50%;
    transition: .2s linear;
    animation: pulse 2s infinite;
}
@keyframes pulse {
    50% {
      background-color: #ff0000;
    }
    100% {
      background-color: #000000;
    }
  }
.ghost:hover .eye span{
    height: 16px;
}
.mouth{
    width: 45px;
    height: 25px;
    background-color:#ff0202;
    border-radius: 0 0 70px 70px;
    margin: auto;
    transition: 0.2s linear;

}
.ghost:hover .mouth{
    height: 12px;
}
.hand{
    width: 220px;
    position: absolute;
    left: -40px;
    top: 80px;
    justify-content: space-between;
    display: flex;
}
.hand span{
    width: 40px;
    height: 20px;
    background-color: white;
}
.hand span:first-child{
    border-radius: 10px 0 0 10px;
}
.hand span:last-child{
    border-radius: 0px 10px 10px 0px;
}
.finger{
    width: 220px;
    position: absolute;
    left: 0;
    top: 0;
    justify-content: space-between;
    display: flex;
}
.finger span{
    width: 10px;
    height: 20px;
    background: #ff0000;
}
.finger span:first-child{
    border-radius: 10px 0 0 10px;
}
.finger span:last-child{
    border-radius: 0 10px 10px 0;
}
.feet{
    position: absolute;
    width: 100%;
    top: calc(100% + 0px);
    display: flex;
}
.feet span{
    flex: 1;
    height: 20px;
    background-color: white;
    border-radius: 0 0 25px 25px;
}
.feet span:first-child{
    border-radius: 0 0 25px 10px;
    background: #ff0000;
}
.feet span:last-child{
    border-radius: 0 0 10px 25px;
    background: #ff0000;
}
